<div class="about" style="margin-top:5px;">
  <div class="strip-head">
    <div class="container">
      <div class="headline">
        <h1>Let's Work Together!</h1>
        <p>Get in touch and we'll get back you!</p>
        <br><div class="floating"><h1><a href="#contact" style="color:#fff;"><i class="fas fa-chevron-circle-down"></i></a></h1></div>
      </div>
    </div>
  </div>
  <div class="strip-8">
    <div class="container">
      <div class="contact" id="contact">
        <div class="forms">
          <h3><b>Write To Us</b></h3>


          <form method="post" action="" enctype="multipart/form-data">
            <fieldset>
              <div class="col-1">
                <label>
                  First Name
                </label>
                <input class="form-control" name="fname" placeholder="First Name" type="text" required="">
              </div>
            
                <div class="col-2">
                  <label>
                    Last Name
                  </label>
                  <input class="form-control" name="lname" placeholder="Last Name" type="text" required="">
                </div>
              </fieldset>

              <fieldset>
                <div class="col-1">
                  <label>
                    Email
                  </label>
                  <input class="form-control" name="femail" placeholder="Company's Email" type="text" required="">
                </div>
                <div class="col-2">
                  <label>
                    Phone Number
                  </label>
                  <input class="form-control" name="phone" placeholder="Your Phone Number" type="text" required="">
                </div>
              </fieldset>

              <fieldset>
                <div class="col-1">
                  <label>
                    Website
                  </label>
                  <input class="form-control" name="url" placeholder="Website" type="text" required="">
                </div>
                <div class="col-2">
                  <label>
                    Where did you find us?
                  </label>
                  <input class="form-control" name="sfind" placeholder="" type="text" required="">
                </div>
              </fieldset>

              <fieldset>
                <div class="col-2">
                  <label>
                    Tell Us About Your Requierment
                  </label>
<textarea style="width:100%;" required placeholder="tell us" name="comments"></textarea>
                </div>
              </fieldset>
              <input type="submit" name="submit" value="Submit" class="btn btn-warning">
</form>
        </div>
      </div>
    </div>
  </div>
  </div>
